# Problem set 3: Loading and structuring data from Denmark Statistics

In [191]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("seaborn-v0_8-whitegrid")
import pandas as pd
import ipywidgets as widgets

# Tasks

## Create a pandas DataFrame

**Question:**

Modify the code below such that *income* and *consumption* are variables in the *dt* DataFrame.

In [192]:
np.random.seed(1999)
 
N = 100
mydata = {}
mydata['id'] = range(N)
income = np.exp(np.random.normal(size=N))
consumption = np.sqrt(income)

dt = pd.DataFrame(mydata)
dt.head()

   id
0   0
1   1
2   2
3   3
4   4

**Answer:**
<br>
See below or A01

The slow way:

In [193]:
# Set a seed for specifying income and consumption
np.random.seed(1999)

# Set number of values in range
N = 100

# Create a dictionary
mydata = {}

# Create a key for the id and assign id-values of range(N)
mydata['id'] = range(N)

# Create psuedo-random values for income and consumption
income = np.exp(np.random.normal(size=N))
consumption = np.sqrt(income)

# Create keys for income and consumption and assign values
mydata['income'] = income
mydata['consumption'] = consumption

# Use the dictionary 'mydata' to create a pd.DataFrame
dt = pd.DataFrame(mydata)

# Display the head(implicitly the first 5 rows) of the DataFrame
dt.head()

   id    income  consumption
0   0  0.727981     0.853218
1   1  1.997831     1.413447
2   2  0.276823     0.526140
3   3  1.481931     1.217346
4   4  1.235904     1.111712

The fast way:

In [194]:
# Set a seed for specifying income and consumption
np.random.seed(1999)

# Set number of values in range
N = 100

# Create a dictionary
mydata = {}

# Create a key for the id and assign id-values of range(N)
mydata['id'] = range(N)

# Create a key for the income and assign values from a standard normal distribution
mydata['income'] = np.exp(np.random.normal(size=N))

# Create a key for consumption with values as a function of the income key values
mydata['consumption'] = np.sqrt(mydata['income'])

# Use the dictionary 'mydata' to create a pd.DataFrame
dt = pd.DataFrame(mydata)

# Display the head(implicitly the first 5 rows) of the DataFrame
dt.head()

   id    income  consumption
0   0  0.727981     0.853218
1   1  1.997831     1.413447
2   2  0.276823     0.526140
3   3  1.481931     1.217346
4   4  1.235904     1.111712

## Create new variable

**Question:**
<br>
Add a new variable *ratio* which is the ratio of consumption to income.

**Answer:**
<br>
See below or A02

The slow way:

In [195]:
# Create a key for ratio with values as a function of the consumption and income key values
mydata['ratio'] = mydata['consumption'] / mydata['income']

# Use the dictionary 'mydata' to create a pd.DataFrame
dt = pd.DataFrame(mydata)

# Display the head(implicitly the first 5 rows) of the DataFrame
dt.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

The fast way:

In [196]:
# Create the pd.DataFrame column ratio as function of the columns consumption and income
dt['ratio'] = dt['consumption'] / dt['income']

# Display the head(implicitly the first 5 rows) of the DataFrame
dt.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

## Summary statistics

**Question:**
<br>
Produce summary statistics using `.describe()`.

**Answer:**
<br>
See below or A03

Display summary statistics with a lot of decimals

In [197]:
# Display summary statistics
dt.describe()

               id      income  consumption       ratio
count  100.000000  100.000000   100.000000  100.000000
mean    49.500000    1.415547     1.087844    1.117517
std     29.011492    1.322203     0.484238    0.525452
min      0.000000    0.108402     0.329245    0.351134
25%     24.750000    0.529323     0.727545    0.752310
50%     49.500000    0.981178     0.990533    1.009580
75%     74.250000    1.768211     1.329572    1.374491
max     99.000000    8.110612     2.847914    3.037255

Display summary statistics with 3 decimals

In [198]:
# Display summary statistics with 3 decimals
dt.describe().applymap('{:,.3f}'.format)

            id   income consumption    ratio
count  100.000  100.000     100.000  100.000
mean    49.500    1.416       1.088    1.118
std     29.011    1.322       0.484    0.525
min      0.000    0.108       0.329    0.351
25%     24.750    0.529       0.728    0.752
50%     49.500    0.981       0.991    1.010
75%     74.250    1.768       1.330    1.374
max     99.000    8.111       2.848    3.037

## Indexing

**Question:**
<br>
Select everybody with an income above 1.

**Answer:**
<br>
See below or A04

In [199]:
# Create a (boolean) series of True/False values given the condition
I = dt['income'] > 1

# Display head of the pandas DataFrame where the condition holds
dt.loc[I,:].head()

   id    income  consumption     ratio
1   1  1.997831     1.413447  0.707490
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513
6   6  2.574032     1.604379  0.623294
7   7  2.475478     1.573365  0.635580

**Question:**
<br>
Select everybody with an income *above* 1 and a ratio *above* 0.7.

**Answer:**
<br>
See below or A05

In [200]:
# Create a (boolean) series of True/False values given the condition
IR = (dt['income'] > 1) & (dt['ratio'] > 0.7)

# Display head of the pandas DataFrame where the condition holds
dt.loc[IR,:].head()

    id    income  consumption     ratio
1    1  1.997831     1.413447  0.707490
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
11  11  2.031708     1.425380  0.701567
18  18  1.280235     1.131475  0.883802

**Question:**
<br>
Set consumption equal to 0.5 if income is less than 0.5.

**Answer:**
<br>
See below or A06

In [201]:
# Create a (boolean) series of True/False values given the condition
I = dt['income'] < 0.5

# For all rows for which the condition holds true set consumption to 0.5
dt.loc[I, ['consumption']] = 0.5

# Find new mean of consumption
dt['consumption'].mean() # <- compare with answer

1.075479712048503

The mean consumption is less than before the change in consumption due to the condition

**Question:**
<br>
Set consumption equal to income if income is less than 0.5.

**Answer:**
<br>
See below or A07

In [202]:
# Create a (boolean) series of True/False values given the condition
I = dt['income'] < 0.5

# For all rows for which the condition holds true set consumption to income values
dt.loc[I, ['consumption']] = dt.loc[I, ['income']].values

# Find new mean of consumption
dt['consumption'].mean() # <- compare with answer

1.0337728690050054

The mean consumption is less than before the change in consumption due to the condition

## Dropping

**Question:**
<br>
Drop the *ratio* variable and all rows with an income above 1.5. After this, also drop the first 5 rows.

**Answer:**
<br>
See below or A08

To solve this I use the parameter `inplace = True` inside of the function `drop`, this parameter modifies the data directly or 'in place', eliminating the need to assign the modified data to a new variable

In [203]:
print(f'before: {dt.shape[0]} observations, {dt.shape[1]} variables')

# Drop the column ratio
dt.drop(columns = ['ratio'], inplace = True)

# Create a (boolean) series of True/False values given the condition
I = dt['income'] > 1.5

# Drop rows for which the condition is true
dt.drop(dt.loc[I, :].index, inplace = True)

# Drop the first 5 rows
dt.drop(dt.loc[:4, :].index, inplace = True)

print(f'after: {dt.shape[0]} observations, {dt.shape[1]} variables')

before: 100 observations, 4 variables
after: 66 observations, 3 variables

## Renaming

**Question:**
<br>
Rename *consumption* to *cons* and *income* to *inc*.

**Answer:**
<br>
See below or A09

In [204]:
# Rename the columns
dt.rename(columns = {'consumption': 'cons', 'income': 'inc'}, inplace = True)

# Display the head of the DataFrame
dt.head()

    id       inc      cons
5    5  0.662684  0.814054
8    8  0.582074  0.762938
10  10  0.932044  0.965424
12  12  0.356952  0.356952
13  13  0.379825  0.379825

## Functions

Correct the wrong lines such that `assets_1 = assets_2 = assets_3 = assets_4`.

In [205]:
def assets_row_by_row(x,R,Y):
    return 0 # wrong line
    
def assets_all_at_once(income,consumption,R,Y):
    return 0 # wrong line

def assets_adj(assets,R,Y):
    # missing lines
    pass

R = 1.2 # return rate
Y = 1 # income
try:
    dt['assets_1'] = R*(dt['inc']-dt['con'])+Y
    dt['assets_2'] = dt.apply(assets_row_by_row,axis=1,args=(R,Y))
    dt['assets_3'] = assets_all_at_once(dt['inc'].values(),dt['con'].values(),R,Y)
    dt['assets_4'] = dt['inc']-dt['con']
    assets_adj(dt['assets_4'],R,Y)
except:
    print('failed')
dt.head()

failed

    id       inc      cons
5    5  0.662684  0.814054
8    8  0.582074  0.762938
10  10  0.932044  0.965424
12  12  0.356952  0.356952
13  13  0.379825  0.379825

In [207]:
def assets_row_by_row(x,R,Y):
    return R * () 
    
def assets_all_at_once(income,consumption,R,Y):
    return 0 # wrong line

def assets_adj(assets,R,Y):
    # missing lines
    pass

R = 1.2 # return rate
Y = 1 # income
dt['assets_1'] = R*(dt['inc']-dt['cons'])+Y



dt.head()

    id       inc      cons  assets_1
5    5  0.662684  0.814054  0.818356
8    8  0.582074  0.762938  0.782963
10  10  0.932044  0.965424  0.959943
12  12  0.356952  0.356952  1.000000
13  13  0.379825  0.379825  1.000000

**Answer:** see A10.py

# Problem

Load the data set in *data/NAH1_pivoted.xlsx* and clean and structure it such that the `plot_timeseries(dataframe)` below can be run and produce an interactive figure.

In [ ]:
def _plot_timeseries(dataframe, variable, years):
    
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    
    dataframe.loc[:,['year']] = pd.to_numeric(dataframe['year'])
    I = (dataframe['year'] >= years[0]) & (dataframe['year'] <= years[1])
    
    x = dataframe.loc[I,'year']
    y = dataframe.loc[I,variable]
    ax.plot(x,y)
    
    ax.set_xticks(list(range(years[0], years[1] + 1, 5)))    
    
def plot_timeseries(dataframe):
    
    widgets.interact(_plot_timeseries, 
    dataframe = widgets.fixed(dataframe),
    variable = widgets.Dropdown(
        description='variable', 
        options=['Y','C','G','I','X','M'], 
        value='Y'),
    years=widgets.IntRangeSlider(
        description="years",
        min=1966,
        max=2018,
        value=[1980, 2018],
        continuous_update=False,
    )                 
);

**Hint 1:** You can base your renaming on this dictionary:

In [ ]:
rename_dict = {}
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.3 Final consumption expenditure'] = 'C'
rename_dict['P.3 Government consumption expenditure'] = 'G'
rename_dict['P.5 Gross capital formation'] = 'I'
rename_dict['P.6 Export of goods and services'] = 'X'
rename_dict['P.7 Import of goods and services'] = 'M'

**Hint 2:** You code should have the following structure:

In [ ]:
# a. load data set
# nah1 = ?

# b. rename variables

# c. remove rows where Y is nan

# d. correct year column data
# hint, nah1.loc[J,['year']] = nah1.loc[I,['year']].values

# e. only keep rows with '2010-prices, chained values'

# f. only keep renamed variables

# g. interactive plot
# plot_timeseries(nan)

**Answer:** see A11.py

In [ ]:
plot_timeseries(nah1)

NameError: name 'nah1' is not defined

# Extra problems

## Extend interactive plot

Extend the interactive plot with a choice of *real* vs *nominal*.

## New data set

Load data from an Excel or CSV file you have downloaded from e.g. [Statistikbanken.dk](https://www.statistikbanken.dk/). Clean, structure and present the data as you see fit.