Try using Co-Pilot to write your code for you

In [6]:
# import numpy as np
import numpy as np # for numerical operations

import pandas as pd # for data manipulation

In [7]:
# Count to ten using numpy
np.arange(1, 11)

# print the result
print(np.arange(1, 11))

# create a pandas array with random numbers
pd.Series(np.random.randn(10))

[ 1  2  3  4  5  6  7  8  9 10]

0    0.381088
1    0.618651
2    1.178753
3    0.720674
4   -2.263423
5    0.236323
6   -0.865752
7    1.642076
8   -0.069991
9    1.220381
dtype: float64

In [8]:
# I want to print all letters in the alphabet
import string
alphabet = string.ascii_lowercase
for letter in alphabet:
    print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z